/Photo[[:space:]]Library/HQ/Gallery[[:space:]]1[[:space:]]-[[:space:]]Zoomed[[:space:]]Out/Image[[:space:]]1.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]1[[:space:]]-[[:space:]]Zoomed[[:space:]]Out/Image[[:space:]]3.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]1[[:space:]]-[[:space:]]Zoomed[[:space:]]Out/Image[[:space:]]4.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]1[[:space:]]-[[:space:]]Zoomed[[:space:]]Out/Image[[:space:]]5.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]1[[:space:]]-[[:space:]]Zoomed[[:space:]]Out/Image[[:space:]]6.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]1[[:space:]]-[[:space:]]Zoomed[[:space:]]Out/Image[[:space:]]7.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]2[[:space:]]-[[:space:]]Zoomed[[:space:]]In/Image[[:space:]]1.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]2[[:space:]]-[[:space:]]Zoomed[[:space:]]In/Image[[:space:]]3.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]2[[:space:]]-[[:space:]]Zoomed[[:space:]]In/Image[[:space:]]4.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]2[[:space:]]-[[:space:]]Zoomed[[:space:]]In/Image[[:space:]]5.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]2[[:space:]]-[[:space:]]Zoomed[[:space:]]In/Image[[:space:]]6.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]2[[:space:]]-[[:space:]]Zoomed[[:space:]]In/Image[[:space:]]7.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]3[[:space:]]-[[:space:]]Zoomed[[:space:]]In[[:space:]]and[[:space:]]Cropped/Image[[:space:]]1.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]3[[:space:]]-[[:space:]]Zoomed[[:space:]]In[[:space:]]and[[:space:]]Cropped/Image[[:space:]]3.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]3[[:space:]]-[[:space:]]Zoomed[[:space:]]In[[:space:]]and[[:space:]]Cropped/Image[[:space:]]4.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]3[[:space:]]-[[:space:]]Zoomed[[:space:]]In[[:space:]]and[[:space:]]Cropped/Image[[:space:]]5.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]3[[:space:]]-[[:space:]]Zoomed[[:space:]]In[[:space:]]and[[:space:]]Cropped/Image[[:space:]]6.tif filter=lfs diff=lfs merge=lfs -text
/Photo[[:space:]]Library/HQ/Gallery[[:space:]]3[[:space:]]-[[:space:]]Zoomed[[:space:]]In[[:space:]]and[[:space:]]Cropped/Image[[:space:]]7.tif filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
