doctype html 
html
    head
        title="Photo Gallery - "+`${title}`
        link(rel='stylesheet', href='/styles/style.css')
        meta(name='viewport' content='windth=device-width, initial-scale=1')
    body
        h1=title
        p Individual Gallery Page

        - //need to figure out how to reference the path

        img(src=`${path}`,+'/Image 1.jpg')

        a(href='//localhost/navigation') Return to navigation