doctype html 
html
    head
        title="Photo Gallery - "+`${title}`
        link(rel='stylesheet', href='/styles/style.css')
        meta(name='viewport' content='windth=device-width, initial-scale=1')
    body
        h1=title
        p Individual Gallery Page

        - //need to figure out how to reference the path

        img(src=`//localhost/${usableName}/Image 1.jpg`)

        - //img(src=`/home/ryan/Photo Gallery/Photo Library/HQ/Gallery 1 - Zoomed Out`+`/Image 1.tif`)

        a(href='//localhost/navigation') Return to navigation