doctype html 
html
    head
        title="Photo Gallery - " + `${title}`
        link(rel='stylesheet', href='/styles/gallery.css')
        link(rel='stylesheet', href='/styles/styles.css')
        link(rel='stylesheet', href='/js/simpleLightbox.min.css')
        script(src='/js/simpleLightbox.min.js')
        script(type='text/javascript', src="/corejs/index.js")
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        
        div(class='flex justify-between h-16 bg-gray-100 shadow-md items-stretch')
            div(class=' flex order-1')
                a(href='//localhost' class='order-1 m-2 self-center font-bold text-xl') Photo Gallery
                a(href='//localhost/navigation' class='order-2 m-2 self-center font-medium opacity-70 hover:opacity-100 duration-75') Navigation
                a(href='//localhost/about' class='order-3 m-2 self-center font-medium opacity-70 hover:opacity-100 duration-75') About

            div(class='flex order-2')
                div(class='self-center shadow-inner bg-gray-300 rounded-md text-lg font-semibold opacity-70')
                    p(class='self-center mx-2 my-1')
                        =title

        br
        br

        div(class='mx-24')

            div(class='h-7 w-16 bg-purple-600 rounded-lg shadow-lg')
                div(onclick='fitFill()' class='flex min-h-full items-center justify-around')
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 560 560" class='h-5 w-5')
                        path(id='fitFill1' d="M509.09 479.09c0 16.5-13.5 30-30 30H80.91c-16.5 0-30-13.5-30-30V80.91c0-16.5 13.5-30 30-30h398.18c16.5 0 30 13.5 30 30v398.18z" fill="#7c3aed")
                        path(id='fitFill2' d="M509.09 479.09c0 16.5-13.5 30-30 30H80.91c-16.5 0-30-13.5-30-30V80.91c0-16.5 13.5-30 30-30h398.18c16.5 0 30 13.5 30 30v398.18zM127.27 152.73L280 101.82m152.73 50.91L280 101.82m0 356.36l-152.73-50.91m305.46 0L280 458.18" fill="none" stroke="#000" stroke-width="20" stroke-linecap="round" stroke-miterlimit="10")
                    p(id='fitFillText' class='order-2') Fill

            br

            div(id ='photo-container' class='min-w-full grid grid-cols-5 gap-6')
                each photo in photos
                    - var index = photos.indexOf(photo)
                        div(class='overflow-hidden rounded-xl shadow-lg border-gray-200 hover:border-blue-400 border-4')
                            a(href='//localhost/source' + `${sqPath}` + '/' + SQFinal[index])
                                img(src='//localhost/' + `${path}` + '/'+ photo, id='images' class='transform scale-100 duration-200')

        script.
            new SimpleLightbox({elements: '#photo-container a'});

        br
        br

        div(class='bg-gray-100 h-24 min-w-full shadow-inner flex justify-center')
            div(class='flex w-6/12 min-h-full justify-between')
                p(class='font-semibold text-sm order-1 opacity-90 place-self-center text-center flex-1') Made with &#10084;&#65039; by #[ Ryan Warner]
                p(class='order-2 font-semibold text-sm place-self-center text-center') |
                div(class='flex order-3 place-self-center justify-evenly flex-1')
                    a(href='https://github.com/ryan-warner' target='blank')
                        svg(class='h-8 w-8 fill-current text-gray-600 order-1 hover:text-gray-800 duration-75' role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                            path(d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12")
                    a(href='https://linkedin.com/in/warner-ryan' target='blank')
                        svg(class='h-8 w-8 fill-current text-gray-600 order-2 hover:text-gray-800 duration-75' role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                            path(d='M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z')