doctype html 
html
    head
        title Photo Gallery
        link(rel='stylesheet', href='/styles/style.css')
        meta(name='viewport' content='windth=device-width, initial-scale=1')
    body
        h1 Photo Gallery
        p Welcome to the Fuehrer Film Photo Gallery!

        a(href='//localhost/navigation') Navigation