doctype html 
html
    head
        title Photo Gallery
        link(rel='stylesheet', href='/styles/index.css')
        meta(name='viewport' content='windth=device-width, initial-scale=1')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap', rel='stylesheet')
    body
        h1 Photo Gallery
        p Welcome to the Fuehrer Film Photo Gallery!

        a(href='//localhost/navigation') Navigation