doctype html 
html
    head
        title Photo Gallery - Navigation
        link(rel='stylesheet', href='/styles/styles.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        script(type='text/javascript', src="/corejs/search.js")
        script(type='text/javascript', src="/corejs/menu.js")
        script(type='text/javascript', src="/corejs/filter.js")
    body

        div(class='bg-gray-100 flex h-16 shadow-md')
            a(href='//localhost' class='order-1 m-2 self-center font-bold text-xl') Photo Gallery
            p(href='//localhost/navigation' class='order-2 m-2 self-center font-medium opacity-70') Navigation
            a(href='//localhost/about' class='order-3 m-2 self-center font-medium opacity-70 hover:opacity-100 duration-75') About

        br

        h1 Navigation

        div(class='flex justify-between')

            input(type="text" id='searchbar' name='Search' onkeyup='search()' placeholder='Search here...' class='focus:ring-2 ring-2 ring-gray-400 focus:ring-blue-300 focus:outline-none rounded-md placeholder-opacity-50 text-2xl bg-white')

            div(onclick='menu()')
                    div(class='')
                        button(class='bg-white p-2 flex justify-center h-8 items-center rounded-md shadow-sm font-medium text-gray-700 border-gray-300 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500' id='sort-menu') Sort Libraries
                            svg(xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 fill-current text-gray-700' viewBox='0 0 20 20')
                                path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')

            div(class='origin-top-right absolute right-0 mt-12 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none hidden' id='options')
                div(class='py-1' role='none')
                    p(onclick='filter("AZ")' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover-text-gray-900' role='menuitem') Sort A-Z
                    p(onclick='filter("ZA")' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover-text-gray-900' role='menuitem') Sort Z-A

        ul(class='' id='albums')
            each folder in folders
                - var index = folders.indexOf(folder)
                    a(class='' href='//localhost/' + links[index])
                        div(class='bg-gray-100 px-3 m-2 shadow-md rounded-md hover:bg-gray-200 active:outline-none  active:ring-2 active:ring-blue-300')
                            li(class='p-4 text-2xl')= folder

        p="This gallery is made up of "+`${photos}`+" photos contained in "+`${albums}`+' albums.'

        div(class='bg-gray-100 h-24 min-w-full shadow-inner flex justify-center bottom-0')
            div(class='flex w-6/12 min-h-full justify-between')
                p(class='font-semibold text-sm order-1 opacity-90 place-self-center text-center flex-1') Made with &#10084;&#65039; by #[ Ryan Warner]
                p(class='order-2 font-semibold text-sm place-self-center text-center') |
                div(class='flex order-3 place-self-center justify-evenly flex-1')
                    a(href='https://github.com/ryan-warner' target='blank')
                        svg(class='h-8 w-8 fill-current text-gray-600 order-1 hover:text-gray-800 duration-75' role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                            path(d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12")
                    a(href='https://linkedin.com/in/warner-ryan' target='blank')
                        svg(class='h-8 w-8 fill-current text-gray-600 order-2 hover:text-gray-800 duration-75' role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                            path(d='M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z')